Flask==0.12
Flask-Migrate==1.8.0
SQLAlchemy==1.0.13
SQLAlchemy-Utils==0.32.7
Werkzeug==0.11.10
alembic==0.8.6
psycopg2==2.6.1
bs4==0.0.1
selenium==3.4.2
google-api-python-client==1.6.2
gunicorn==19.3.0
dsert==0.1.3
